.unsubscribe-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  
    font-size: 34px;
  
}
.header {
  display: flex;
  justify-content: center; /* Center aligns the logo */
  align-items: center;
  flex-direction: column; /* Stack images and text vertically if there’s more than one */

  .logo {
    height: 250px;
    width: 300px;
    margin: 0 auto; /* Ensures the logo centers within the header */
  }

  .school-title {
    height: 150px;
    width: 700px;
  }
  h2 {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;

    .logo, .school-title {
      height: 150px;
      width: auto;
    }
  }

  h2 {
    font-size: 24px;
  }
}


.email-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.email-section input {
  padding: 10px;
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
}

.email-section button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.subscription-section {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subscription-section label {
  font-size: 16px;
  color: #333;
}

.subscription-section button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.message {
  margin-top: 20px;
  text-align: center;
  color: #f44336; /* Red for error messages */
}

.message.success {
  color: #4CAF50; /* Green for success messages */
}
